html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: 'New Icon Script';
  src: url('font/newicon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("src/blue-bg.png") center / cover no-repeat fixed;
  overflow-x: hidden;
  text-align: center;
}

.split-page,
.wedding-details,
.attire-section,
.faqs-section,
.rsvp {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.split-page.animate,
.wedding-details.animate,
.attire-section.animate,
.faqs-section.animate,
.rsvp.animate {
  opacity: 1;
  transform: translateY(0);
}


.header-image {
  width: 100vw; 
  height: 100vh; 
  object-fit: cover;         
  opacity: 0;     
  object-position: center top;
  display: block;
  z-index: 1;
}

@media (max-width: 1024px) {
  .header-image {
    height: 100dvh;
    object-position: center center; 
    width: 100vw; 

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s ease, transform 3s ease;
  }

  .header-image.animate {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-image.animate {
  opacity: 1;
  transform: translateY(0);
}


.divider-image {
  display: block;
  max-width: 80%;
  height: 30vh;
  margin: 0 auto;
  margin-top: -10px;
}

@media (max-width: 1024px) {
  .divider-image {
  width: 80%;
  margin-top: -80px;
  margin-bottom: -60px;
}
}

@media (max-width: 1024px) {
  .divider-map {
  width: 80%;
  margin-top: -80px;
  margin-bottom: -30%;
}

}

.divider-map {
  display: block;
  max-width: 80%;
  height: 30vh;
  margin: 0 auto;
  margin-top: -18%;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.invitation-page {
  padding-bottom: 90px;
  padding-top: 10px; 
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invitation-image {
  width: 75%;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease; 
}

@media (max-width: 1024px) {
  .invitation-image {
    width: 100%;
  }
}

.invitation-image.animate {
  opacity: 1;
  transform: translateY(0);
}

.split-page {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* LEFT SIDE */
.left {
  flex: 1;
  position: relative;
}

.left img.overlay {
  position: absolute;
  top: 50%; 
  left: 53%;
  transform: translate(-50%, -50%);
  max-width: 110%; 
  height: auto;   
  margin-left: 55px;
}


.right {
  flex: 1;
  padding: 5rem;            
  font-family: 'Cardo', serif;
  color: white;

  display: flex;              
  flex-direction: column;     
  justify-content: center;   
  align-items: center;         
}


.right h1 {
  font-family: 'New Icon Script', serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 6rem;
  color: #f3dbb9;
  font-size: 2.5rem;
  margin-right: 20px;
}

.right p {
  text-align: justify;         
  line-height: 1.6;
  max-width: 530px;           
  font-size: 1.1rem;
  margin-right: 20px;
}


@media (max-width: 1024px) {
  .split-page {
    flex-direction: column;
    max-width: 100vw; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
  }

  .left {
    min-height: 50vh;
    position: relative;
    overflow: visible;
    display: flex;  
    justify-content: center;
    align-items: center; 
  }

  .left img.overlay {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    max-width: 90%;
    height: auto;
    margin: 0 auto;  
    display: block;
  }

  .right {
    min-height: 50vh;
    padding: 0;
    margin: 0;
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;  
    margin-bottom: 80px;
  }

  .right h1 {
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 0;
  }

  .right p {
    margin-bottom: 1rem;
    font-size: 1rem;
    max-width: 70%; 
    text-align: justify;
    margin-right: 0;
  }
}


@media (max-width: 767px) {
  .split-page {
    flex-direction: column;
    max-width: 100vw;  
    justify-content: center;  
    align-items: center; 
    min-height: 100vh;  
  }

  .left {
    min-height: 50vh;
    position: relative;
    overflow: visible;
    display: flex;  
    justify-content: center;  
    align-items: center;  
  }

  .left img.overlay {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    max-width: 90%;
    height: auto;
    margin: 0 auto;  
    display: block;
  }

  .right {
    min-height: 50vh;
    padding: 0;
    margin: 0;
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;  
    margin-bottom: 80px;
  }

  .right h1 {
    font-size: 1.8rem;
    margin-bottom: 0px;
    margin-top: -10px;
    margin-right: 0;
  }

  .right p {
    margin-bottom: 1rem;
    font-size: 0.7rem;
    max-width: 70%; 
    text-align: justify;
    margin-right: 0;
  }
}

.wedding-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: start;
  max-width: 1000px; 
  margin: 0 auto; 
  justify-content: center;
}

.wedding-details h1 {
  font-family: 'New Icon Script', script;
  font-size: 3rem;
  font-weight: 400;
  color: #f3dbb9;
  margin-bottom: -20px;
  text-align: center;
}

.phrase {
  text-align: center;
}

.wedding-details {
  color: white;
  font-family: 'Cardo', serif;
  height: 100vh;
}

.wedding-details p {
  font-size: 1.15rem;  
  margin-bottom: -20px;
}

.tomi-box {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -50px;
  margin-top: 60px;
}

.details-box {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  text-align: center;

}

.map-box {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.image-caption {
  letter-spacing: 0.5px;
  color: #f3dbb9;
}

.tomi { width: 400px; border-radius: 12px; }
.map-img { width: 520px; border-radius: 12px; transition: transform 0.3s ease; margin-top: 30px; }
.clickable img { cursor: pointer; }
.clickable:hover img { transform: scale(1.05); }

@media (max-width: 1024px) {
  .map-img { width: 90vw; border-radius: 12px; transition: transform 0.3s ease; margin-top: -30px; }

  .phrase {
    margin-top: 20px;
  }

  .wedding-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: none;  
    margin: 0; 
  }

  .map-box { order: 1; width: 20%; max-width: 250px; }
  .details-box { order: 2; width: 90%; max-width: 900px;}
  .tomi-box { order: 3; width: 90%; max-width: 400px; }

  .details-box {width: 100%; grid-template-columns: 1fr 1fr; gap: 1rem; }
  .tomi { width: 100%; margin-top: 1rem; display: none;}


  .wedding-details {
    height: auto;
    padding: 50px;
  }

  .wedding-details h1 {
    font-size: 3rem;
  }

  .wedding-details p {
    font-size: 1rem;
    margin-bottom: -10px;
    white-space: nowrap;
  }
}


@media (max-width: 767px) {
  .map-img { width: 90vw; border-radius: 12px; transition: transform 0.3s ease; margin-top: -30px; }

  .phrase {
    margin-top: 20px;
  }

  .wedding-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: none;  
    margin: 0; 
  }

  .map-box { order: 1; width: 20%; max-width: 250px; }
  .details-box { order: 2; width: 90%; max-width: 900px;}
  .tomi-box { order: 3; width: 90%; max-width: 400px; }

  .details-box {width: 100%; grid-template-columns: 1fr 1fr; gap: 1.9rem; }
  .tomi { width: 100%; margin-top: 1rem; display: none;}


  .wedding-details {
    height: auto;
    padding: 50px;
  }

  .wedding-details h1 {
    font-size: 1.8rem;
  }

  .wedding-details p {
    font-size: 0.7rem;
    margin-bottom: -10px;
    white-space: nowrap;
  }
}

.attire-section {
  width: 100%;
  min-height: 50vh; 
  margin: 0 auto;
  padding: 4rem 1.5rem;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.attire-title {
  font-family: 'New Icon Script', cursive;
  font-size: 3rem;
  margin-bottom: 0rem;
  color: #f3dbb9; 
  font-weight: 500;
}

.attire-text {
  max-width: 700px;
  margin: 0 auto 3rem;
  color: #fff; 
}

.attire-text p {
  font-size: 1.3rem;
  line-height: 1.8;
}

.palette-img {
  width:100%;
  max-width: 420px;
  margin-top: -50px;
  display: block;
}

.gift-img {
  width: 20%;
  max-width: 420px;
  margin-top: -50px;
  display: block;
}

@media (max-width: 1024px) {
  .attire-section {
    padding: 2.5rem 5rem;
    height: 80vh;
  }

  .attire-title {
    font-size: 3rem;
  }

  .attire-text p {
    font-size: 1rem;
    font-weight: 300;
  }

  .palette-img {
    width: 80vw;
    margin-top: -30px;
  }

  .gift-img {
    width: 50%;
  }
}



@media (max-width: 767px) {
  .attire-section {
    padding: 2.5rem 5rem;
    height: 80vh;
  }

  .attire-title {
    font-size: 2rem;
  }

  .attire-text p {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .palette-img {
    width:80vw;
    margin-top: -30px;
  }

  .gift-img {
    width: 70%;
  }
}


/* FAQ container */
.faqs-section {
  max-width: 600px;
  margin: auto;
  padding: 80px 20px;
  color: #fff;
  text-align: center;
  font-family: 'Cardo', serif;
}


details summary {
  position: relative;
  padding: 25px 20px 25px 20px; 
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: left;        
  border-bottom: 2px solid #f3dbb9; 
  list-style: none;  
}

details summary::before {
  content: "";
  position: absolute;
  right: 20px;               
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  border-right: 2px solid #aeaeae;
  border-bottom: 2px solid #aeaeae;
  border-radius: 2px;
  background: transparent;
  transition: transform 0.3s ease;
}

/* Rotate arrow when open */
details.open summary::before {
  transform: rotate(-135deg); 
}

/* Answer text wrapper */
details p {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0 auto;
  padding: 0;
  transition: 
    max-height 0.4s ease,
    opacity 0.4s ease,
    padding 0.4s ease,
    margin 0.4s ease;
  width: 100%;             
  max-width: 400px;        
  line-height: 1.6;
  text-align: center;      
  color: white;
  font-size: 1.2rem;
}

/* Open state */
details.open p {
  max-height: 500px;
  opacity: 1;
  margin: 18px auto 28px;
  padding: 10px 0;
  animation: dropFade 0.4s ease forwards;
}

/* Drop + fade animation */
@keyframes dropFade {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.faqs-q {
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 42px;
  margin-top: 40px;
}

.faqs-fa {
  font-family: 'New Icon Script', cursive;
  font-weight: 400;
  color: #f3dbb9;
  margin-bottom: -50px;
}

.rsvp {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding: 0 20px; 
  font-family: 'Cardo', serif;
  color: white;
}

.rsvp p {
  max-width: 80%; 
  line-height: 1.6;  
  font-size: 1.3rem;
  margin-top: -50px;
  letter-spacing: 1px;
}

.highlight {
  color: #f3dbb9;
  font-family: 'New Icon Script', serif;
  font-weight: 400;
  font-size: 3rem;
}

.rsvp-btn {
  display: inline-block;
  padding: 10px 40px;
  background-color: #f3dbb9;
  color: #000;
  border-radius: 30px;
  text-decoration: none;
  font-family: inherit;
  transition: transform 0.2s ease, opacity 0.2s ease;
  border: 1px solid #fff;
}

.rsvp-btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.high {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 4rem;
}

@media (max-width: 1024px) {
  .faqs-section {
    max-width: 65%;
    margin-top: 10px;
  }

  .faqs-q {
    font-size: 3rem;
    margin-bottom: 5px;
  }

  .faqs-fa {
    font-size: 2.3rem;
    margin-top: 50px;
  }

  details summary {
    font-size: 1.1rem;
    padding: 15px 0px 15px 10px; 
  }

  details summary::before {
    width: 7px;
    height: 7px;
    border-right: 2px solid #aeaeae;
    border-bottom: 2px solid #aeaeae;
    border-radius: 2px;
    background: transparent;
    transition: transform 0.3s ease;
  }

  details.open p {
    max-width: 50vw;
    margin: 16px auto 24px;
    font-size: 1rem;
  }

  .rsvp p {
    font-size: 1rem;
    letter-spacing: 0px;
  }

  .highlight {
    font-size: 2rem;
  }

  .high {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  .rsvp-btn {
    padding: 8px 25px;
    font-size: 1rem;
    margin: 0;
  }

}


@media (max-width: 767px) {
  .faqs-section {
    max-width: 80%;
    margin-top: 10px;
  }

  .faqs-q {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .faqs-fa {
    font-size: 1.5rem;
    margin-top: 50px;
  }

  details summary {
    font-size: 0.75rem;
    padding: 15px 0px 15px 10px; 
  }

  details summary::before {
    width: 7px;
    height: 7px;
    border-right: 2px solid #aeaeae;
    border-bottom: 2px solid #aeaeae;
    border-radius: 2px;
    background: transparent;
    transition: transform 0.3s ease;
  }

  details.open p {
    max-width: 60vw;
    margin: 16px auto 24px;
    font-size: 0.75rem;
  }

  .rsvp p {
    font-size: 0.8rem;
    letter-spacing: 0px;
  }

  .highlight {
    font-size: 2rem;
  }

  .high {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  .rsvp-btn {
    padding: 8px 25px;
    font-size: 0.8rem;
    margin: 0;
  }

}